/* REQUIRED STYLES */


.ce-editorjsColumns_col{
  flex: 50%;
}

.ce-editorjsColumns_wrapper{
  display: flex;
  width:100%;
  gap: 10px;
  margin-bottom: 10px;
}


/* 

These styles will also affect the parent editor!!!!!!

*/

.ce-inline-toolbar{
  z-index:1000
}

.ce-block__content, 
.ce-toolbar__content {
  max-width: calc(100% - 50px);  /* example value, adjust for your own use case */
}

/*   */
.ce-toolbar__actions{
  right: calc(100% + 30px); 
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

/* Would be better to remove --narrow mode */
/* Issue Raised */
/* // This causes an error which is good i think? */
.codex-editor--narrow .codex-editor__redactor{
  margin: 0;
}

/* Required to prevent clipping */
.ce-toolbar{
  z-index: 4;
}

.codex-editor{
  /* background:#f00 !important; */
  z-index: auto !important; 
}


.ce-editorjsColumns_span-1 {
  flex: 0 0 auto;
  width:8.333333333%;
}

.ce-editorjsColumns_span-2 {
  flex: 0 0 auto;
  width:16.666666667%;
}

.ce-editorjsColumns_span-3 {
  flex: 0 0 auto;
  width:25%;
}

.ce-editorjsColumns_span-4 {
  flex: 0 0 auto;
  width:33.333333333%;
}


.ce-editorjsColumns_span-5 {
  flex: 0 0 auto;
  width:41.666666667%;
}

.ce-editorjsColumns_span-6 {
  flex: 0 0 auto;
  width:50%;
}

.ce-editorjsColumns_span-7 {
  flex: 0 0 auto;
  width:58.333333333%;
}

.ce-editorjsColumns_span-8 {
  flex: 0 0 auto;
  width:66.666666667%;
}
.ce-editorjsColumns_span-9 {
  flex: 0 0 auto;
  width:75%;
}
.ce-editorjsColumns_span-10 {
  flex: 0 0 auto;
  width:83.333333333%;
}
.ce-editorjsColumns_span-11 {
  flex: 0 0 auto;
  width:91.666666667%;
}

.ce-editorjsColumns_span-12 {
  flex: 0 0 auto;
  width:100%;
}


