/* REQUIRED STYLES */


.ce-editorjsColumns_col{
  flex: 50%;
}

.ce-editorjsColumns_wrapper{
  display: flex;
  width:100%;
  gap: 10px;
  margin-bottom: 10px;
}


/* 

These styles will also affect the parent editor!!!!!!

*/

.ce-inline-toolbar{
  z-index:1000
}

.ce-block__content, 
.ce-toolbar__content {
  max-width: calc(100% - 50px);  /* example value, adjust for your own use case */
}

/*   */
.ce-toolbar__actions{
  right: calc(100% + 30px); 
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

/* Would be better to remove --narrow mode */
/* Issue Raised */
/* // This causes an error which is good i think? */
.codex-editor--narrow .codex-editor__redactor{
  margin: 0;
}

/* Required to prevent clipping */
.ce-toolbar{
  z-index: 4;
}

.codex-editor{
  /* background:#f00 !important; */
  z-index: auto !important; 
}

